<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.Core"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.QuickCode"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".introductory.onBoarding.OnBoardingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuickCode.OnBoarding">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".loginRegister.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuickCode"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <activity
            android:name="com.example.quickcode.resetPassword.ResetPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.QuickCode"
            android:windowSoftInputMode="adjustResize">

        </activity>

        <meta-data
            android:name="com.parse.SERVER_URL"
            android:value="@string/back4app_server_url" />
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/back4app_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/back4app_client_key" />

    </application>

</manifest>